.DS_Store
*.o
*.a
*.la
*.so
*.elc
*.pyc
*.class
*.jar
*.iml
*.exe
*.log
.classpath
.settings/
.project
.sconsign.dblite
.idea
.lein
.DS_Store
a.out
target/
scala/http/log
cscope.out
cscope.files
GPATH
GRTAGS
GSYMS
GTAGS
*.db
*.caffemodel
*.solverstate
*.hdf5
# *.jpg
# *.png
*.zip
cookies.txt
*.npy
*.tgz
*.deb
*.avro
*.sqlite3
xcuserdata
xcshareddata
Podfile.lock
Pods
*.mov
*.mp4
*.gif
.DS_Store
.ipynb_checkpoints
*.tsv
*.csv
*.xlsx
venv/
.vscode
__pycache__
*.dSYM/
output-dir/
.compress-images-cache
