
body{

font:75%/1.5 "Microsoft YaHei","Lucida Grande",Verdana !important;

}

h1,h2,h3,h4,h5,h6{

font-family: "Microsoft YaHei","Lucida Grande",Verdana !important;}

p{

font-size:115% !important ;

line-height:1.8 !important;

color:#333 !important;}

pre{

font-family:Anonymous,Consolas,"Courier New" !important;

font-size:12px !important;}

.pre{

font:800 12px Consolas,"Courier New" !important;}

blockquote{ font-size:12px !important;

color:#333 !important;}

blockquote div.translation-indicator {

right:-56px !important;}

blockquote div.comment-indicator {left:-58px !important;}

blockquote blockquote{border:none !important;}

blockquote blockquote div.comment-indicator{left:-70px !important;}

blockquote blockquote div.translation-indicator{right:-68px !important;}



.vLargeTextField{font-family:"Microsoft YaHei","Lucida Grande",Verdana !important;font-size:12px !important;color:#333 !important;}

.tabset li{font-size:12px !important;}



#djangobookcomments{z-index:1000 !important;}

#djangobooktranslations{z-index:1000 !important;}