img {
    max-width:100%;
    width: 600px;
}

.figure {
    max-width:100%;
    width: 600px;
}


blockquote {
    border-left: 5px darkgrey solid;
    padding-left: 10px;
    margin-left: 20px;
    max-width: 100%;
    width: 800px;
}

body {
    max-width: 100%;
    width: 1000px;
}

pre.src {
    border-left: 5px blue solid;
    padding-left: 30px;
    padding-top: 1.2em;
}
