img {
    max-width:100%;
}

.figure {
    max-width:100%;
}


blockquote {
    border-left: 5px darkgrey solid;
    padding-left: 10px;
    margin-left: 20px;
    max-width: 100%;
}

body {
    max-width: 100%;
    width: 1200px;
    margin: 0 auto;
}

pre {
    border-left: 5px grey solid;
    padding-left: 30px;
    padding-top: 1.2em;
    white-space: pre-wrap; /* Ensures text wraps within the box */
    word-wrap: break-word; /* Prevents long words from overflowing */
}

pre.src {
    border-left: 5px blue solid;
    padding-left: 30px;
    padding-top: 1.2em;
}


li {
    line-height: 150%
}
